
.profile-container{
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-areas: "options content";
    max-width: 90rem;
    margin: auto;
}

.profile-options{
    grid-area: options;
    /* border-right: 1px solid var(--DARK-GREY); */
}

.profile-options a{
    margin-right: 2rem;
    padding: 2rem;
    font-size: 1.8rem;
    background-color: var(--OFF-WHITE);
}

.profile-content{
    grid-area: content;
    padding: 1rem 2rem;
}

/* PROFILE */

.profile-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.profile-wrapper-content{
    display: grid;
    grid-template-columns: 3fr 7fr;
    padding:1rem 0 ;
}

/* ADDRESS */

.address-form{
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    width: 100%;
}

.input-wrapper .address-input{
    background-color: var(--LIGHT-GREY);
    outline: 0;
    padding: 1rem;
    border-radius: 3px;
}

.address-list{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.address-item{
    margin: 2rem 0;
    font-size: 1.6rem;
    font-weight: 500;
    max-width: 300px;
}

.address-cta{
    display: flex;
    gap:2rem;
    padding-top:1rem;
}

.address-cta .btn{
    padding: 5px 0;
}

/* ORDERS */

.orders-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.orders-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid var(--OFF-BLACK);
}

.orders-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.order-id-title{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--OFF-BLACK);
}

.order-date{
    font-size: 1.6rem;
    color:var(--DARK-GREY);
}

.orders-content{
    display: flex;
    gap: 1.5rem;
    flex: 1;
}

.orders-contact-info, .orders-shipping-address, .orders-payment-details{
    flex-grow: 1;
    font-size: 1.6rem;
    flex-basis: 150px;
}

.order-content-title{
    font-weight: 700;
    margin-bottom: 5px;
}

.order-data{
    color: var(--DARK-GREY)
}

.orders-contact-info, .orders-shipping-address{
    border-right: 1px solid var(--OFF-BLACK);
}